In [2]:
t1=("23","34","45")
t1[-2]

'34'

In [4]:
t1={"name":["sk","bk","hk","hk","34","45"],"age":[23,34,35,35,36,37]}
t1

{'name': ['sk', 'bk', 'hk', 'hk', '34', '45'], 'age': [23, 34, 35, 35, 36, 37]}

In [5]:
t1.pop("name")

['sk', 'bk', 'hk', 'hk', '34', '45']

In [6]:
t1

{'age': [23, 34, 35, 35, 36, 37]}

In [10]:
t1.update({"name":["sk","bk","hk","hk","34","45"]})
t1

{'age': [23, 34, 35, 35, 36, 37], 'name': ['sk', 'bk', 'hk', 'hk', '34', '45']}

In [11]:
t1["name"][2]

'hk'

In [28]:
t1={23,23,24,'hk','dk'}
t1

{23, 24, 'dk', 'hk'}

In [29]:
t1.add(25)

t1

In [30]:
t1

{23, 24, 25, 'dk', 'hk'}

In [31]:
t1

{23, 24, 25, 'dk', 'hk'}

In [25]:
print(11//2)

5

In [41]:
num=int(input())
for i in range(1,num+1):
    if (num % i) == 0:
        print(num, "is not a prime number")
    else:
        print("prime number", num)

 66

66 is not a prime number

In [37]:
t2

NameError: name 't2' is not defined

In [43]:
t2.pop(3)
t2

AttributeError: 'tuple' object has no attribute 'pop'

In [44]:
t3=tuple(t2)

In [45]:
t3

(23, 'dk', 24, 'hk', 25)

In [4]:
i=0
while (i:=i+1) < 10:
    if i == 3:
        print("s")
    print(i,end=" ")

1 2 s
3 4 5 6 7 8 9

In [2]:
a=int(input("enter the value="))
for i in range(a):
    c=int(input("enter number"))
    if c %2== 0 :
     print("even")
    else:
     print("odd")
print(c)

enter the value= 2
enter number 23

odd

enter number 34

even
34

a=int(input())
n=0
for i in range(1,a):
    n+=i
    print(i)

In [56]:
a=int(input())
b=[]
c=[]
for i in range(a):
    z=int(input("enter value="))
    c.append(z)
print(c)
y=0
n=[]
for i in range(0 ,len(c)):
    y+=c[i]
    n.append(y)
    
print(n)

 3
enter value= 12
enter value= 34
enter value= 45

[12, 34, 45]
[12, 46, 91]

In [11]:
a=int(input())
b=[]
c=[]
for i in range(a):
    z=int(input("enter value="))
    b.append(z)
for i in b:
    y=sum(c)
    c.append(y)
print(b)
print(c)

 2
enter value= 22
enter value= 22

[22, 22]
[0, 0, 0]

In [24]:
a=int(input())
n=0 
for i in range(1,a+1):
    print(i)
    n +=i
print(n)

 5

1
2
3
4
5
15

In [61]:
a=[10,12,23]
for  i in range(0,len(a)):
    print (i)

0
1
2

In [4]:
i=()
m=0
while  i!=0:
    i=int(input())
    m+=i
print(m)

 99
 90
 09
 89
 09
 0

296

In [1]:
l=[1,2,3]
print(l)
print(len(l))
print(max(l))
print(min(l))
l.insert(-2,6)
l.extend([4,5,6])
l.append(0)
l.remove(6)
l.pop(4)
l.sort()
t=l.sort(reverse="true")
#t=list("toll gate") 
print(t)
print(l)

[1, 2, 3]
3
3
1

TypeError: 'str' object cannot be interpreted as an integer

In [1]:
a=int(input())
b=int(input())
for i in range (a,b+1):
    if i == 0 or i == 1 : 
        continue
    for j in range(2,i):
        if i%j==0 :
            break
    else:
        print(i)

 1
 12

2
3
5
7
11

In [34]:
a,b=int(input()),int(input())
c=[]
d=[]
for i in range(a,b+1):
    if(i %2 == 0):
        c.append(i)
    else:
        d.append(i)
print("even number",c)
print("even number",d)
print(len(c))
print(len(d))

 2
 7

even number [2, 4, 6]
even number [3, 5, 7]
3
3

list comprehension

In [4]:
k=[i for i in range(0,20) if(i%2==0)]
print(k)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [3]:
print("factorial")
b=int(input("enter limit="))
j=[]
c=1
for i in range(1,b):
    print(i,c*i)
    c=c*i
    j.append(c)
print(j)
print(c)

factorial

enter limit= 8

1 1
2 2
3 6
4 24
5 120
6 720
7 5040
[1, 2, 6, 24, 120, 720, 5040]
5040

In [30]:
print("tables")
x,y=int(input("enter the table number=")) , int(input("enter the multiple ends="))
i=1
b=0
while i <= y :
    b=i*x
    i+=1
    print(b)

tables

enter the table number= 3
enter the multiple ends= 5

3
6
9
12
15

In [3]:
def add ():
    c=int(input())
    d=int(input())
    return c+d
print(add())

 3
 4

7

In [5]:
def sk():
    a=int(input("enter limit="))
    c=1
    for i in range(a) :
        c=i**2
        print(i)
        print("squared",c,end=" ")
    return i 
    return c
    #print(c)
print(sk())

enter limit= 6

0
squared 0 1
squared 1 2
squared 4 3
squared 9 4
squared 16 5
squared 25 5

In [5]:
def uu(a):
    d=[]
    for i in range (a):
        c=int(input("enter into list="))
        d.append(c) 
    print(d)
a=int(input("enter the limits = "))
uu(a)

enter the limits =  5
enter into list= 1
enter into list= 2
enter into list= 3
enter into list= 4
enter into list= 5

[1, 2, 3, 4, 5]

In [12]:
def uu(x,y,z):
    print(x+y+z)
x,y,z=1,2,3
uu(x,y,z)

6

In [11]:
def uu(name,age):
    print(f"happy birthday {name}") 
    print(f"you are {age} old ")
    print("happy birthday to you ") 

uu("adhi",21)

happy birthday adhi
you are 21 old
happy birthday to you

In [26]:
a=int(input("enter the end natural number="))
for i in range (a+1):
    print(i)

enter the end natural number= 2

0
1
2

In [27]:
a=int(input("enter the range of even number ="))
for i in range (1,a+1):
    if (i%2==0):
        print(i)
    else:
        continue

enter the range of even number = 1

In [3]:
a=int(input("enter the range of even number ="))
b=0
for i in range (1,a+1):
    b=b+i
print(b)

enter the range of even number = 34

595

In [6]:
a=int(input("enter the range of odd number ="))
b=0
for i in range (1,a+1):
    if (i%2!=0):
        b=b+i
        print(i)
    else:
        continue
print("sum of odd number=",b)

enter the range of odd number = 6

1
3
5
sum of odd number= 9

In [8]:
num =int(input())
count = 0
while num != 0:
    num //= 10
    count += 1

print("Number of digits: " + str(count))

 78

Number of digits: 2

In [9]:
num =int(input("enter the digits="))
print(len(str(num)))

enter the digits= 34567890

8

In [10]:
a="Hello World"
b=a[::-1]
print(b)

dlroW olleH

In [11]:
def isPalindrome(s):
    return s == s[::-1]
s =input("enter")
ans = isPalindrome(s)
if ans:
    print(ans)
    print("Yes")
else:
    print(ans)
    print("No")

enter rtr

True
Yes

In [13]:
def uu(a):
    d=a[::-1]
    if a == d: 
        print ("yes")
    else:
        print("no")
    return d
a=input()
uu(a)

 123

no

'321'

In [14]:
count=0
for i in range(1,10+1):
    if i%3==0:
        continue
    else:
        print(i)
        count+=1
print(count)

1
2
4
5
7
8
10
7

In [2]:
count=0
for i in range(1,100+1):
    if i%3==0 and i%5==0:
        print(i)
        count+=1
    else:
        continue
print(count)

15
30
45
60
75
90
6

In [33]:
s=input("enter the value")
a=str(s)
b = str(s[::-1])
if a == b:
    print("yes")
else:
    print("no")

enter the value tyt

yes

In [11]:
s=input("enter the value")
a=s
b = s[::-1]
if a == b:
    print("yes")
else:
    print("no")

enter the value sks

yes

In [13]:
def sum(a,b):
    c=a+b
    return c
print(sum(10,20))

30

In [25]:
def sum(a):
    if(a%2==0):
        print("even",a)
    else:
        print("odd") 
        return a
a=int(input("enter the number"))
sum(a)

enter the number 45

odd

45

In [6]:
def primw(a,b):
    for i in range (a,b+1):
        if i == 0 or i == 1 : 
            continue
        for j in range(2,i):
            if i%j==0 :
                break
        else:
            print(i)
a=int(input())
b=int(input())
primw(a,b)

 1
 34

2
3
5
7
11
13
17
19
23
29
31

In [ ]:
def marks(a):
    for i in range(a):
        b=int(input("enter ur marks="))
        if b >= 80 :
            print("v.good")
        elif b >= 60 :
            print("good")
        elif b >= 45:
            print("average")
        else:
            print("u need to improve")
a=int(input())
marks(a)

In [1]:
def marks(*args):
    for i in range(a):
        b=int(input("enter ur marks= "))
        if b >= 80 :
            print("v.good")
        elif b >= 60 :
            print("good")
        elif b >= 45:
            print("average")
        else:
            print("u need to improve")
a=int(input("enter limits of marks= "))
marks(a)

enter limits of marks=  3
enter ur marks=  23

u need to improve

enter ur marks=  56

average

enter ur marks=  78

good

In [14]:
def uu(**k):
    res=''
    for i in k:
        res += i
    return res

In [17]:
uu(a ='pythin',b ='is',c ='good')

'pythinisgood'

In [16]:
def uu(**k):
    res=''
    for i in k.values():
        res += i
    return res

In [15]:
test=lambda a: a**2

In [17]:
test(99)

9801

In [21]:
test=lambda a,b: a**b

In [26]:
list2=[10,20,30,40]
list(map(lambda x:x**3 ,list2))

[1000, 8000, 27000, 64000]

In [29]:
list(filter(lambda x:x%2==0 ,range(1,30)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [2]:
list(filter(lambda x:x%2==0 ,range(1,30)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [18]:
def uu(a,b):
    y=list(filter(lambda x: x%3==0,range(a,b+1)))
    return y
a=int(input("enter starting value"))
b=int(input("enter ending value"))
uu(a,b)

enter starting value 1
enter ending value 8

[3, 6]

In [21]:
def uu(b):
    z=[]
    for i in range(b):
        a=int(input("enter the marks= "))
        z.append(a)
    for j in z:
        if j >=80 and j>=100 :
             print("v.v.good",j)
        elif j >= 60:
             print("good",j)
        elif j >= 45:
             print("average",j)
        elif j < 45:
             print("u need to improve",j)
        else:
             print("enter valid marks",j)
    return z
b=int(input("enter length= "))
print(uu(b))

enter length=  3
enter the marks=  56
enter the marks=  35
enter the marks=  99

average 56
u need to improve 35
good 99
[56, 35, 99]

In [1]:
for i in range (5):
    for j in range(4):
        print("*",end="")
    print()

****
****
****
****
****

In [2]:
n=4
for i in range(n):
    print("*"*n)

****
****
****
****

In [3]:
for i in range (5):
     print("#"*i)

#
##
###
####

In [12]:
for i in range (5,0,-1):
    for j in range(1,i):
        print(j,end="")
    print()

1234
123
12
1

In [17]:
j=1
for i in range (4,0,-1):
    for a in range(j,5):
        print(a,end="")
    print()

1234
1234
1234
1234

In [23]:
for i in range (5,0,-1):
    print(str(i)*i)

55555
4444
333
22
1

In [1]:
r=int(input("enter the radius= "))
h=int(input("enter the height= "))
z=0.3333* 3.14159 *r**2 *h
y=round(z,2)
print(y)

enter the radius=  3
enter the height=  6

56.54

In [1]:
print("min function by using for loop")
b=[111,23,34,45,5,6,7,83,45]
a=b[0]
for i in b:
    if i < a:
        a=i
print(a)

min function by using for loop
5

In [2]:
def min_1(b):
    
    a=b[0]
    for i in b:
        if i > a:
            a=i
    return a
b=[111,23,34,45,5,6,7,83,45]
print(min_1(b))

111

In [12]:
a=input("enter the value= ")
count=0
for i in a:
    if i == "0" or i == "1" :
        count+=1
c=len(a)
if count==c:
    print("binary")
else:
   print("not binary")

enter the value=  101111001110101010

binary

In [6]:
a=[1,2,3,4,5,6,7,8,9,0]
b=[1,2,4,6,7,8,0]
c=[]
for i in a:
    for j in b:
        if i == j:
            print(i)
            break
        else:
            c.append(i)
            break
print(c)

1
[]

In [9]:
k=list(filter(lambda a,b: a== b , a,b))

TypeError: filter expected 2 arguments, got 3

regex

In [5]:
import re
a="them are 123 and 345 orange"
pattern="are"
matches=re.findall(pattern,a)

In [18]:
matches

[]

In [28]:
import re
a="them are 123 and 345 orange"
pattern=r'\b[a-z]{3}\b'
matches=re.findall(pattern,a)

In [29]:
matches

['are', 'and']

In [30]:
import re
a="them are 123 and 345 orange"
pattern=r'\b\w[a-z]{2}\b'
matches=re.findall(pattern,a)

In [31]:
matches

['are', 'and']

In [43]:
import re
a="them are 123 and 345 orange"
pattern=r'are|orange'
#matches=re.sub(pattern,"",a)
matches=re.findall(pattern,a)

In [44]:
matches

['are', 'orange']

In [45]:
import re
a=["them are 123 and 345 orange","words  2455","fhfgujheh 8900"]
for i in a:
    patten=r'\d+'
    matche=re.findall(patten,i)
    print(matche)

['123', '345']
['2455']
['8900']

In [46]:
import re
z=["them are 123 and 345 orange","words  2455","fhfgujheh 8900"]

In [47]:
for i in z:
    patten=r'\d+'
    matche=re.findall(patten,i)
    print(matche)

['123', '345']
['2455']
['8900']

In [48]:
z="them are 123 and 345 orange"
pattern=r'are'
matches=re.sub(pattern, "#",z)
print(matches)

them # 123 and 345 orange

In [49]:
z="them are 123 and 345 orange"
pattern=r'are'
matches=re.search(pattern,z)
print(matches)

<re.Match object; span=(5, 8), match='are'>

In [58]:
import re
z="them are 123 and 345 oraghuhfjhjjrnjnghrjngjhrngjrnjrntgjrnjngjtrnjgnjtrnjrtgnjrtgnjrtgnjnjnjngjrtgnjrtntrjnnge"
aa=r'a.e|o...h'
bb=re.findall(aa,z)
print(bb)

['are', 'oragh']

In [77]:
z="them are 123 and 345 orange"
aa=r'\w[a-z]+'
bb=re.findall(aa,z)
print(bb)

['them', 'are', 'and', 'orange']

In [61]:
z="them are 123 and 345 orange"
yy=[]
pp=r' '
#for i in z:
   # if i == " ":
zz=re.sub(pp," @ ",z)
yy.append(zz)
   # else:
print(yy)

['them @ are @ 123 @ and @ 345 @ orange']

fhfgujheh 8900

In [64]:
a="apple is banna"
count=0
for i in a :
    if i == "a" or i == "e" or i == "i" or i == "o" or i == "u" :
        count+=1
    else:
        continue
print(count)

5

In [2]:
def sample(*args):
    b=[]
    m=b
    for i in args:
       b.append(i) 
    print(b)
    c=int(input("normal int values="))
    z=b.pop(3)
    print(b)
    y=m.append(c)
    return b
    return m
output=sample(10,20,30,40)
print(output)

[10, 20, 30, 40]

normal int values= 25

[10, 20, 30]
[10, 20, 30, 25]

In [3]:
def mm(*args):
    b=[]
    for i in args:
        b.append(i)
    z=max(b)
    print(b)
    return z
mm('hello','boys','sing','songs')

['hello', 'boys', 'sing', 'songs']

'songs'

In [103]:
import re
a='ImportanceOfRegularExpressionsInPython'
p=r'[A-Z][a-z]+'
d=re.findall(p,a)
print(d)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [8]:
a=[1,2,4,5,6,7,9,0]
b=[]
for i in a:
    for j in range(1,11):
        if i==j:
            continue
        else:
            b.append(i)
print(b)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 9, 9, 9, 9, 9, 9, 9, 9, 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [17]:
import re 
z="APJ Abdul Kalam was an Indian Aerospace acientist."
pp=r'[A-Z]{3}|\b[A-Z]{1}[a-z]{3}[l]{1}\b'
matches=re.findall(pp,z)
print(matches)

['APJ', 'Abdul']

In [18]:
import re 
z="APJ Abdul Kalam was an Indian Aerospace acientist."
pp=r'[A-Z]{3}|\bA[a-z]+l'
matches=re.findall(pp,z)
print(matches)

['APJ', 'Abdul']

In [5]:
class employee:
    ere=45
    __count=0
    def __init__(self):
        employee.__count+=1
    def add():
        return employee.__count

In [6]:
imp=employee()

In [7]:
imp.add()

TypeError: employee.add() takes 0 positional arguments but 1 was given

In [8]:
class a:#overrideing
    def add():
        print("a")
class b(a):
    def add():
        print("ok")

In [9]:
b()

In [25]:
#decator it modify the function
def dun1(func):
    def wrapp():
        print("okokokokok")
        print("endendendend")
    return wrapp
@dun1
def myiii():
    print("hello world")


myiii()

okokokokok
endendendend

In python decorators are a powerful and flexible way to modify or extend the behavior of function or mrthod without changeing their actual code they are essentially higher order function that take another function (or method) as input and return a new function with additional 
'@'symbol denotes the decorators in python

In [34]:
def dun1(func):
    def wrapp():
        print("okokokokok")
        #return func()
        print("endendendend")
        return func()
    return wrapp
def dum2(func):
    def wrapp():
        print("ok")
        func()
        print("endd")
    return wrapp
@dum2#absortact method
@dun1#absortact method
def myiii():
    print("hello world")


myiii()

ok
okokokokok
endendendend
hello world
endd

abstractmethod

from abc import ABC,abstractmethod basic syntax

In [53]:
# Import required modules
from abc import ABC, abstractmethod#abc is library, (ABC) is abract class,(abstractmethod ) method

# Create Abstract base class
class Car(ABC):#changeing into abstract class because of (ABC)
    def __init__(self, brand, model, year):
        self.brand = brand
        self.model = model
        self.year = year
    
    # Create abstract method      
    @abstractmethod # method
    def printDetails(self):
        pass
  
    # Create concrete method
    def accelerate(self):
        print("Speed up ...")
  
    def break_applied(self):
        print("Car stopped")

# Create a child class
class Hatchback(Car):
    def printDetails(self):
        print("Brand:", self.brand)
        print("Model:", self.model)
        print("Year:", self.year)
  
    def sunroof(self):
        print("Not having this feature")

# Create a child class
class Suv(Car):
    def printDetails(self):
        print("Brand:", self.brand)
        print("Model:", self.model)
        print("Year:", self.year)
  
    def sunroof(self):
        print("Available")

# Create an instance of the Hatchback class
car1 = Hatchback("Maruti", "Alto", "2022")

# Call methods
car1.printDetails()
car1.accelerate()
car1.sunroof()

Brand: Maruti
Model: Alto
Year: 2022
Speed up ...
Not having this feature

Use @classmethod & @staticmethod

In [3]:
#fibnocci series
a,b=0,1
n=8
for i in range(n):
    print(a,end=' ')
    a,b=b,a+b

0 1 1 2 3 5 8 13

In [2]:
# Python program to check if year is a leap year or not

year = 2001

# To get year (integer input) from the user
# year = int(input("Enter a year: "))

# divided by 100 means century year (ending with 00)
# century year divided by 400 is leap year
if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))

# not divided by 100 means not a century year
# year divided by 4 is a leap year
elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))

# if not divided by both 400 (century year) and 4 (not century year)
# year is not leap year
else:
    print("{0} is not a leap year".format(year))

2001 is not a leap year

In [5]:
def is_leap_year(year=2000):
    """
    Returns True if the year is a leap year, False otherwise.
    """
    return year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)

LEAP YEAR OR NOT

In [8]:
year =2001
if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
    print("yyyy")

In [3]:
a=int(input("enter"))
if a%4==0 and (a%400==0 or a%100 != 0):
    print("leap year")
else:
    print("not leap year")

enter 2004

leap year

In [ ]:
a%4 == 0 and (a%400==0 or a%100!=0)

In [6]:
n=int(input())
a=0
b=1
for i in range(n):
    print(a,end=" ")
    a,b=b,a+b

 10

0 1 1 2 3 5 8 13 21 34

In [17]:
import re
a=[ "python is good", "programming is fun" ]
for i in a:
    if re.findall(r'p',i):
        print(re.findall(r'p[a-z]+',i))

['python']
['programming']

In [46]:
import math 
a1={"a":[1,2,3],"b":[4,5,6],"c":[7,8,9]}
for i,j in a1.items():
    c=math.prod(j)
    print(f"{i} products of {c}")

a products of 6
b products of 120
c products of 504