In [13]:
def ww(*args):
    a=[]
    for i in args:
        a.append(i)
    a.sort()
    c=set(a)
    d=list(c) 
    return d
ww("hello","gym","good","hello")

['gym', 'hello', 'good']

In [14]:
import re 
a="Python Exercises, PHP exercises."
pp=r' |,|\.'
zz=re.sub(pp,":",a)
print(zz)

Python:Exercises::PHP:exercises:

In [15]:
def ww(*args):
    a=[]
    for i in args:
        if i[0] == "a" or i[0] == "e":
            a.append(i)
    return a
ww("ello","gym","aood","hello")

['ello', 'aood']

In [16]:
a=["ello","gym","aood","hello","weryruitygfu","rargeyjwdgfh","wew"]
for i in a:
    if len(i) <= 4:
        print(i)

ello
gym
aood
wew

In [17]:
import re 
 
for i in a:
    print(i)
    #pp=r','
   # zz=re.sub(pp,"qq",a)
#print(i)

ello
gym
aood
hello
weryruitygfu
rargeyjwdgfh
wew

In [18]:
import re 
a=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
for i in a:
    pp=r'\( | \)'
    z=re.sub(pp," ",a)
    print(i)

TypeError: expected string or bytes-like object, got 'list'

In [ ]:
def nn(a):
    print(a)
    c=set(a)
    print(c)
    d=list(c)
    d.sort()
    return d
nn([12,34,4,67,89,0,0])

In [ ]:
import statistics
a=[1,3,4,5,4,7,8,9,10,23]
print(statistics.median(a))

In [ ]:
import re

In [ ]:
a="Python Exercises, PHP exercises PHP"

In [ ]:
re.search("PHP",a).group()

In [ ]:
re.findall("PHP",a)

In [ ]:
re.split(" ",a)

In [ ]:
re.split("\.",a)

In [ ]:
re.sub("PHP","php",a,count=1)

In [ ]:
import re 
z="APJ Abdul Kalam was an Indian Aerospace acientist."
pp=r'[A-Z]{1}[a-z]+|\bA[a-z]+l'
matches=re.findall(pp,z)
print(matches)

In [ ]:
import re
z="them are 123 and 345 .oraghuhfjhjjrnjnghr jngjhrngjrnjrntgjrnjngjtrnjgnjtr.njrtgnjrtgnjrtgnjnjnjngjrtgnj.rtntrjnnge."
aa=r'a.e|[A-Za-z]+'
bb=re.findall(aa,z)
print(bb)

In [ ]:
a=("ello gym jaod hello rerere etet")
pp=r'\b[a][a-z]+|[e][a-z]+\b'
matches=re.findall(pp,a)
matches

In [ ]:

def mm(a):
    pp=r'\b\w{4}+\b'
    matches=re.findall(pp,a)
    return matches
a="ello gym aood hello weryruitygfu rargeyjwdgfh wew"
mm(a)

In [ ]:
import re 
a=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
for i in a:
    #print(i)nmnmn
    z=re.sub(pp,"",i)
    print(z)

In [ ]:
import re
a="Importance5Of6RegularExpressions1In3Python"
pp=r'(\d)'
matches=re.sub(pp,r' \1 ',a)
matches

In [ ]:
a="ImportanceOfRegularExpressionsInPython"
b=[]
for i in a:
    #pp=r'[A-Z][a-z]'
    if i == pp:
        print(i)
        b.append(i)
print(b)

In [ ]:
import re
a='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
pp=r'\d{3}+'
matches=re.findall(pp,a)
print(matches)

In [ ]:
import re
target_string = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
pattern = r'\d+'
matches = re.findall(pattern, target_string)
b=0
for i in matches :
    if i == str(b):
        print(i)
        q.append(i)
        b=i
print(b)

In [ ]:
for i in match:
    if int(i) >= c:
        print(i)
        b.append(str(i))
        c+=int(i)
        print(c)
        
        print(b)

In [ ]:
q=[]
b=0
for i in range(1,10):
    if i>= b:
        q.append(i)
        b=i
print(b)

In [ ]:
import re
a = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
pattern = r'\d+'
m = re.findall(pattern, a)
print(max(m))

In [ ]:
a="Hello hello world world"
pp=r'\w+'
matches = re.findall(pp, a)
zz=set(matches)
print(zz)

In [ ]:
a="Hello hello world world"
pp=r'\b[A-Z][a-z]+\b|[a-z]+'
matches = re.findall(pp, a)
zz=set(matches)
print(zz)

In [ ]:
import re
a="ImportanceOfRegularExpressionsInPython"
pp=r'[A-Z][a-z]+|\b[a-z]+\b'
match=re.findall(pp,a)
for i in match:
    e=3
    b=i
    print(b)

In [ ]:
for i in range(10):
    print("fuck "*i)

In [ ]:
a=[1,2,3,4,5,6,7,8,9,0]
b=[1,3,6,7,9,0]
missing=[]
for x in a:
    if x not in b:
    	missing.append(x)
print(f'the missing numbers in b compared to A is {missing}')

In [ ]:
 1
import re
a="pythonisgood"
pp=r'\W'
matches=re.findall(pp,a)
#print(matches)
zz=len(matches)
#print(zz)
if zz==0:
    print("good string no space any expression occured")
else:
    print("bad string space any expression occured")

In [ ]:
2
a="9python is 7good"
pp=r'[0-9]\w+'
matches=re.findall(pp,a)
print(matches)

In [ ]:
4
a=' On August 15th 1947 that India was declared independent from British colonialism, and the October 10th 1999  reins of control were handed over to the leaders of the Country'
pp=r'\b[A-Z][a-z]+ [0-9]+[a-z]+\b|\d+'
matches=re.findall(pp,a)
print(matches)

In [ ]:
a= "example(.com)", "hr@fliprobo(.com)", "github(.com)", "Hello(Data Science World)", "Data(Scientist)"
for i in a:
    pp=r'\(|\)|\.\w+'
    matches=re.sub(pp,'',i)
    print(matches)

In [ ]:
5
a= "example(.com)", "hr@fliprobo(.com)", "github(.com)", "Hello(Data Science World)", "Data(Scientist)"
for i in a:
    pp=r'\(.?[\w\s]*\)'
    matches=re.sub(pp,'',i)
    print(matches)

In [ ]:
a="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
#lst=lst=list(map(str,a.split()))
#print(lst)
pp=r'\d{2}.\d{2}'
matches=re.findall(pp,a)
#print(matches)
for i in lst:
    print(i)
    pp= '\d{2}.\d{2}'
    matches=re.findall(pp,i)
    #print(matches)

In [ ]:
14
a="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
lst=list(map(str,a.split()))
for i in lst:
    if len(i)>=2 and len(i)<=4:
        continue
    else:
        print(i,end=" ")

In [ ]:
11
a=' """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo""".'
pp=r'\#[[A-Za-z]+'
matches=re.findall(pp,a)
print(matches)

In [ ]:
12
a= "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
pp=r'\<U.....\>'
matches=re.sub(pp,"",a)
print(matches)

In [ ]:
13
a="Ron was born on 12-09-1992 and he was admitted to school 15-12-1999."
pp=r'[0-9]+'
matches=re.findall(pp,a)
print(matches)

In [ ]:
15
def mm(a):
    b= 'The quick brown fox jumps over the lazy dog.'
    pp=r'fox'
    matches=re.search(pp,b)
    match=re.findall(pp,b)
    print(match)
    return matches
#b=input("enter the word==")
mm(a)

In [ ]:
a= 'The quick brown fox jumps over the lazy fox'
b='fox'
lst=list(map(str,a.split()))
count=0
even_m=0
for i in lst :
    if i in b:
        print(i)
    else:
        even_m+=1
print(count,even_m)

In [ ]:
import re
def text_match(text):
        patterns = '^a(b*)\w'
        if re.search(patterns,  text):
                return 'Found a match!'
        else:
                return('Not matched!')
print(text_match("a123"))
print(text_match("abc"))
print(text_match("a"))
print(text_match("ab"))
print(text_match("abb"))

In [ ]:
a='The quick brown fox jumps over the lazy fox'
def zz(a,pp):
    if re.findall(pp,a):
        print("match")
    else:
        print("not match")
a='The quick brown fox jumps over the lazy fox'
pp='fox'
zz(a,pp)
#print(re.findall(pp,a))

In [ ]:
a="12.0090.07890"
pp=r'\.0*'
matches = re.sub(pp,r'.',a)

print(matches)

In [ ]:
a=' On August 15th 1947 that India was declared independent from British colonialism, and the October 10th 1999  reins of control were handed over to the leaders of the Country'
pp=r'\w+ \d{2}\w+ \d+'
pr=r'A[\w\s]+7'
matches=re.findall(pp,a)
matche=re.findall(pr,a)
print(matches)
print(matche)

In [ ]:
a="python is good is"
pp=r'is'
matches = re.search(pp,a)
print(matches)

In [ ]:
a='2015-02-12'
pp=r'(\d+)(-\d+-)(\d+)'
matches = re.sub(pp,r'\3\2\1',a)
print(matches)

In [ ]:
a="python9is0good5is"
pp=r'(\d)'
matches = re.sub(pp," \1 ",a)
print(matches)

In [ ]:
a="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
pp=r'\b\d+\.\d{1}\b|\b\d+\.\d{2}\b'
matches=re.findall(pp,a)
matches

In [ ]:
import re
a="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
pp=r'^\d+|\d+$'
march=re.search(pp,a)
march

In [ ]:
a="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
b="The following example creates an ArrayList with a capacity of 50 elements. 4 elements"
pp1=r'\w+'
pp2=r'\w+'
match=re.findall(pp1,a)
match2=re.findall(pp2,b)
c=[]
for i in match:
    if i in match2:
        c.append(i)
print(c)

In [ ]:
import re
a="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
b="The following example creates an ArrayList with a capacity of 50 elements. 4 elements"
pp1=r'\w+'
pp2=r'\w+'
match=re.findall(pp1,a)
match2=re.findall(pp2,b)
c=[]
for i in match:
    if i not in match2:
        #print(i)
        c.append(i)
print(c)

In [ ]:
def uuu(a):
    b=sum(a)
    d=len(a)
    e=b//d
    print(e)
a=[10,20,30,40,50]
uuu(a)

In [ ]:
def mmm(a,b,c):
    if a==b and b==c and c==a:
        return "same"
    else:
        return "not same"
a=int(input("enter value 1="))
b=int(input("enter value 1="))
c=int(input("enter value 1="))
mmm(a,b,c)

In [ ]:
a = [1, 2, 1, 1, 3, 4, 3, 3, 5]
b=set(a)
print(b)

In [ ]:
a=['mmm','ddd','nnn']
a.sort()
g=[]
for i in a:
    l=i[0]
    g.append(l)
print(g)

In [ ]:
a="The following example creates an ArrayList with a capacity of 50345 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
pp=r'[a-z]*\s\d{2,4}'
matches=re.findall(pp,a)
print(matches)

In [ ]:
data=[]
while True :
    n=input("enter")
    data.append(n)
    u=input("enter y//n to enter anoter name==")
    if u.casefold() == "n" :
        break
for i in data:
    print(i)

In [ ]:
def pp(*a):
    print(*a)
a=1,2,3,4,5
pp(a)

In [ ]:
n=f_1()

In [ ]:
class f_2():
    def p(self):
        return n

In [ ]:
class f_1(f_2):
    def gather(self):
        n=input("enter the number=")
        return n

In [ ]:
n.gather()

In [ ]:
n.p()

In [ ]:
import re
a="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
pp=r'\b\d{1,2}\.\d{2,3}\b'
print(re.findall(pp,a))

In [ ]:
def ww(*args):
    args=[]
    for i in a:
        if i[0] == "a" or i[0] == "e":
            a.append(i)
    return a
ww("ello","gym","aood","hello")

In [ ]:
grocery_list=[]
grocery_set=set(grocery_list)
while True :
    grocery_name=input("enter the grocery name=")
    #quantity=int(input("enter the grocery name="))
    grocery_list.append(grocery_name)
    list_ending=input("enter y//n to enter anoter name==")
    if list_ending.casefold() == "n" :
        break
print(grocery_set)
print(grocery_list)

In [ ]:
data=[]
while True :
    n=input("enter")
    data.append(n)
    u=input("enter y//n to enter anoter name==")
    if u.casefold() == "n" :
        break
for i in data:
    print(i)

In [ ]:
my_list = [5, 2, 2,2, 3, 4, 5, 5]
my_set = set()
for item in my_list:
    my_set.add(item)
    print(*my_set)  # {1, 2, 3, 4, 5}

In [ ]:
class r1():
    def n1(self):
        b=int(input())
        return b
    def n2(self):
        a=int(input("enter++"))
        b=int(input("enter++"))
        c=a + b
        return c
    def n3(*self):
        d=[]
        for i in range(1,20):
            i+=3
            d.append(i)
        return d 
class r_total(r1):
    def n5(self):
        print("working")

In [ ]:
obj=r_total()

In [ ]:
obj.n2()

In [ ]:
b

In [2]:
a='Abc123guhy5656'
bll=0
vhh=0
for i in a:
    print(i)
    try:
        int(i)
    except:
        bll += 1
    else:
        vhh =+ 1
#print(bll)
print(vhh)

A
b
c
1
2
3
g
u
h
y
5
6
5
6
1

In [ ]:
class rr1():
    def e1(self):
        m=2
        return m
    def e2(self):
        self.m=n
        print(n)

In [ ]:
class ff(rr1):
    e1()
    e2()
obj=ff()
print(obj)

In [ ]:
def e1():
    m=2
    return m
def e2(e1):
    print(e1)
e2(e1())
e1()

In [ ]:
class rr1():
    def e1(self):
        m=2
        return m
    def e2(e1):
        print(e1)
        e2(e1())

class ff(rr1):
    e1( )
    e2(e1())
obj=ff()
print(obj)

In [1]:
import numpy as np

In [28]:
d=np.array(["enter","a","frst","n"])

In [2]:
d=np.array([1,2,3])

In [13]:
print(type(d))

<class 'numpy.ndarray'>

In [29]:
d.size

4

In [35]:
d.sort()

In [36]:
d

array(['a', 'enter', 'frst', 'n'], dtype='<U5')

In [33]:
print(d[0])

a

In [37]:
f=np.array([[1,2,4],[3,5,0]])

In [40]:
f.all()

False

In [ ]:
f.reshape(3,2)

In [ ]:
v=np.arange(20)

In [ ]:
g=v.reshape(5,4)

In [ ]:
print(g)

In [41]:
d=np.array([1,2,3])
e=np.array([1,2,3])
c=d+e

In [42]:
c

array([2, 4, 6])

In [7]:
def add(a,b):
    return a+b
def sub(a,b):
    return a-b
def div(a,b):
    return a/b
def mul(a,b):
    return a*b
a=int(input("enter a frst num = "))
s=input("enter a symbol num = ")
b=int(input("enter a sec num = "))
if s== '+':
    print(add(a,b))
elif s== '-':
    print(sub(a,b))
elif s== '/':
    print(div(a,b))
elif s== '*':
    print(mul(a,b))
else:
    print("****** invalid symbol operation *****")

enter a frst num =  20
enter a symbol num =  /
enter a sec num =  45

0.4444444444444444

In [ ]:
c

In [ ]:
j=c**2

In [ ]:
np.sqrt(j)

to store multiple in orangized way

In [ ]:
import pandas as pd
r=pd.Series([1,2,3,4,5,6,7,8,9,0])
print(r)

In [ ]:
r=pd.Series([1,2,3,4,5,6,7,8,9,10], index= [10,20,30,40,50,60,50,80,90,100])
r

In [ ]:
r=pd.DataFrame([1,2,3,4,5,6,7,8,9,10])
print(r)

In [ ]:
d=np.array([25,67,89,56,9090,78])

In [ ]:
t=pd.Series(d)
print(t)

In [ ]:
dic={'ww':23,'mm':45}
t=pd.DataFrame(dic)
print(t)

data frame

In [ ]:
a=[['ww',22],['ee',144],['0', 0],['rr', 34]]
t=pd.DataFrame(a,columns=['name','num'])
print(t)

In [ ]:
a={'ww': 22, 'ee': 144, '0': 0, 'rr': 34}

In [ ]:
a

In [ ]:
b=pd.DataFrame(a,columns=['name','num'])
print(b)

In [ ]:
a=[['ww',22],['ee',144],['0', 0],['rr', 34]]
t=pd.DataFrame(a,columns=['name','num'], index=[11,56,90,45])
print(t)

In [ ]:
a=['ee', 1, 'rr', 1, 'tt',57]

In [ ]:
t=pd.Series(a)

In [ ]:
t

In [ ]:
# Python program to rearrange an array in minimum
# maximum form

# Function to rearrange the array elements alternately
def rearrange(arr):
    n = len(arr)
    temp = [0] * n

    # Indexes of smallest and largest elements
    small, large = 0, n - 1

    # To indicate whether we need to copy remaining
    # largest or remaining smallest at next position
    flag = True

    # Store result in temp[]
    for i in range(n):
        if flag:
            temp[i] = arr[large]
            large -= 1
        else:
            temp[i] = arr[small]
            small += 1
        flag = not flag

    # Copy temp[] to arr[]
    for i in range(n):
        arr[i] = temp[i]


# Driver code
arr = [5, 2, 7, 8, -2,25, 25]
n = len(arr)

print("Original Array")
for x in arr:
    print(x, end=" ")

rearrange(arr)

print("\nModified Array")
for x in arr:
    print(x)#end=" ")

In [ ]:
def meandering_order(arr):
    # Sort the array in ascending order
    arr.sort()
    
    # Initialize two pointers
    low = 0
    high = len(arr) - 1
    
    # Create an empty list to store the result
    result = []
    
    # Alternate between the largest and smallest elements
    while low <= high:
        if high >= low:
            result.append(arr[high])  # Pick largest element
            high -= 1
        if high >= low:
            result.append(arr[low])   # Pick smallest element
            low += 1
        #print(result)
    return result

# Example usage
arr = []
n=int(input("enter"))
for i in range(n):
    a=int(input("enter inputs"))
    arr.append(a)
d=meandering_order(arr)
for i in d:
    print(i)
#print(*meandering_order(arr))
#arr = [5, 2, 7, 8, -2,25, 25]

In [ ]:
def meandering_order(arr):
    # Sort the array in ascending order
    arr.sort()
    
    # Initialize two pointers
    low = 0
    high = len(arr) - 1
    
    # Create an empty list to store the result
    result = []
    
    # Alternate between the largest and smallest elements
    while low <= high:
        result.append(arr[high])  # Pick largest element
        high -= 1
        
        if low <= high:
            result.append(arr[low])  # Pick smallest element
            low += 1
    return result

# Example usage
arr = [5, 2, 7, 8, -2,25, 25]
result = meandering_order(arr)  # Instead of printing, just assign the result to a variable

In [ ]:
pd.DataFrame?

In [ ]:
import pandas as pd

data = {['www', 34], ['eee', 5678], ['rrr', 7890], ['0', 0]}
new = pd.DataFrame.from_dict(data,index=['name','num'])

print(new)

In [19]:
import pandas as pd

data = [{'area': 'new-hills', 'rainfall': 100, 'temperature': 20},
		{'area': 'cape-town', 'rainfall': 70, 'temperature': 25},
		{'area': 'mumbai', 'rainfall': 200, 'temperature': 39}]

df = pd.DataFrame.from_dict(data)

df

        area  rainfall  temperature
0  new-hills       100           20
1  cape-town        70           25
2     mumbai       200           39

In [ ]:
df.

In [ ]:

an email marketing platform wants to analysis user engament but generate a report that shows the total no of emails sent ,the total number emails opened,the open date for each campain

In [34]:
import re
a='"Python", "Java", "c#", "c++" and  "VB.NET"'
pp=r' and\s'
print(re.sub(pp,r",",a))

"Python", "Java", "c#", "c++", "VB.NET"

In [30]:
def find_4_and_7(num):
    for i in range(1,num+1):
        if i%4==0 and i%7==0:
            print(i)
num=int(input("enter the limits = "))
find_4_and_7(num)

enter the limits =  100

28
56
84

In [2]:
#My address is 21 4 RTS food street, pincode: 60 90 89
import re
a= '<p>Contents :</p><a href="https://w3resource.com">Python Examples</a><a href="http://github.com">Even More Examples</a>'
pp=r"\w+://\w+.\w+"
print(re.findall(pp,a))

['https://w3resource.com', 'http://github.com']

In [16]:
a='an email marketing platform wants to analysis user engament but generate a report that shows the total no of emails sent ,the total number emails opened,the open date for each campain'
#a='"Python", "Java", "c#", "c++" and  "VB.NET"'
pp=r'\s'
match=re.sub(pp,"_",a)
print(match)

pp=r'\_'
match2=re.sub(pp," ",match)
print(match2)

an_email_marketing_platform_wants_to_analysis_user_engament_but_generate_a_report_that_shows_the_total_no_of_emails_sent_,the_total_number_emails_opened,the_open_date_for_each_campain
an email marketing platform wants to analysis user engament but generate a report that shows the total no of emails sent ,the total number emails opened,the open date for each campain

In [59]:
a='aneMailMarketingplatFormWantsTo date for each campain'
pp=r'[A-z][a-z]+'
print(re.findall(pp,a))

['ane', 'Mail', 'Marketingplat', 'Form', 'Wants', 'To', 'date', 'for', 'each', 'campain']

In [5]:
a='My address is 21 4 RTS food street, pincode: 60 90 89'
pp=r'(\d+)\s+(\d)'
print(re.findall(pp,a))
print(re.sub(pp,r'\1\2',a))

[('21', '4'), ('60', '9'), ('0', '8')]
My address is 214 RTS food street, pincode: 609089

In [35]:
a='aneMailMarketingplatFormWantsTodateforeKchcampain'
pp=r'([A-Z])'
print(re.sub(pp,r" \1",a))
print(re.findall(pp,a))

ane Mail Marketingplat Form Wants Todatefore Kchcampain
['M', 'M', 'F', 'W', 'T', 'K']

In [100]:
import pandas as pd
import numpy as np
arr=np.array([10,20,30,40])
df=pd.DataFrame(arr)
print(df)

    0
0  10
1  20
2  30
3  40

In [28]:
a='PythonIsPython'
#pp=r'(?<!^)'
pp=r'(?<!^)(?=[A-Z])'
print(re.sub(pp,r" ",a))

Python Is Python

In [41]:
def slicing_pattern(a,n):
    c=a[0:n]
    return c
a='PythonIsPython'
n=int(input("enter btw '14'="))
slicing_pattern(a,n)

enter btw '14'= 14

'PythonIsPython'

In [1]:
import numpy as np 
import pandas as pd

In [8]:
df1=pd.read_csv(r"C:\Users\ykmi1\Downloads\Companies Details.csv")

In [11]:
df1.sample(4)

,Role,Company,Location,Mail ID,Contact No
6,Analy,Thought works,"Tharamani, Chennai",au@thoughtworks.com,"61 73129 4506 , 04449018400"
45,DS&DA,Accenture,"Sholinganallur, Chennai","John.Smith@accenture.com , deepshikha.agrawal@...","044 4078 2183 , +914442670000 , 4442670001"
33,DA&Vis,Capgemini,"Karapakkam, Chennai",fresherhiring.in@capgemini.com,044-6749 2000
54,PY,Spiro Prime Tech Services,"T. Nagar, Chennai",spiroprojects@gmail.com,"9791 044 044 , 9962 067 067"

In [6]:
df=pd.read_csv("C:\\Users\\ykmi1\\Downloads\\Companies Details.csv")

In [12]:
df.shape

(60, 5)

axis=0 rows
axis=1 columns

In [13]:
df.columns

Index(['Role', 'Company', 'Location', 'Mail ID', 'Contact No'], dtype='object')

In [14]:
df.dtypes

Role          object
Company       object
Location      object
Mail ID       object
Contact No    object
dtype: object

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Role        60 non-null     object
 1   Company     60 non-null     object
 2   Location    59 non-null     object
 3   Mail ID     59 non-null     object
 4   Contact No  57 non-null     object
dtypes: object(5)
memory usage: 2.5+ KB